In [2]:
install.packages("tidyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [11]:
library(dplyr)
library(tibble)

- https://tidyr.tidyverse.org/

In [40]:
set.seed(123)

In [8]:
h_data <- head(iris)

In [10]:
environment()

In [17]:
df1 = data.frame(c1=1:4, c2=5:8)
df1$c3 =  6:9
df1

  c1 c2 c3
1 1  5  6
2 2  6  7
3 3  7  8
4 4  8  9

In [21]:
df_a = tibble(c1=1:4, c2=5:8)
df_a$c3 = 6:9
df_a

  c1 c2 c3
1 1  5  6
2 2  6  7
3 3  7  8
4 4  8  9

In [23]:
normalize <- function(x){
  nominator <- x-min(x)
  denominator <- max(x)-min(x)
  normalize <- nominator/denominator
  return(normalize)
}
normalize(df_a$c1)

[1] 0.0000000 0.3333333 0.6666667 1.0000000

In [32]:
split_data <- function(df, train = TRUE){
    length <- nrow(df)
    total_row <- length *0.8
    split <- 1:total_row
  
    if (train ==TRUE){ 
        split_df <- df[split, ] 
    } else {
        split_df <- df[-split, ] 
    }
    return(split_df)
}

dim(iris)
dim(split_data(iris))
dim(split_data(iris, train = F))

[1] 150   5

[1] 120   5

[1] 30  5

# Conditionals

In [36]:
product = 'Z'
if (product == 'A'){
    cat('hola', 'A', 325)
} else if (product == 'B'){
    cat('hola', 'B', 789)
} else {
    cat(789, '555')
}

789 555

# Loops

In [37]:
# Create a list with three vectors
fruit <- list(
    Basket = c('Apple', 'Orange', 'Passion fruit', 'Banana'), 
    Money = c(10, 12, 15), purchase = FALSE)

for (p  in fruit) 
{ 
    print(p)
}

[1] "Apple"         "Orange"        "Passion fruit" "Banana"
[1] 10 12 15
[1] FALSE

In [38]:
# Create a list with three vectors
fruit <- c('Apple', 'Orange', 'Passion fruit', 'Banana')

for (p  in fruit)
{ 
    print(p)
}

[1] "Apple"
[1] "Orange"
[1] "Passion fruit"
[1] "Banana"

In [38]:
# Create a list with three vectors
fruit <- matrix(1:9, nrow = 3)

for (p  in 1:nrow(ffui))
{ 
    print(p)
}

[1] "Apple"
[1] "Orange"
[1] "Passion fruit"
[1] "Banana"

# Apply

In [51]:
m1 = matrix(1:12, nrow=4)
apply(m1, 2, sum) # apply
lapply(m1, sqrt) # list apply

[1] 10 26 42

[[1]]
[1] 1

[[2]]
[1] 1.414214

[[3]]
[1] 1.732051

[[4]]
[1] 2

[[5]]
[1] 2.236068

[[6]]
[1] 2.44949

[[7]]
[1] 2.645751

[[8]]
[1] 2.828427

[[9]]
[1] 3

[[10]]
[1] 3.162278

[[11]]
[1] 3.316625

[[12]]
[1] 3.464102

In [55]:
dt = cars
sapply(dt, min)
apply(dt, 2, min)
lapply(dt, min)

speed  dist
    4     2

speed  dist
    4     2

$speed
[1] 4

$dist
[1] 2

In [56]:
data(iris)
tapply(iris$Sepal.Width, iris$Species, median)

    setosa versicolor  virginica
       3.4        2.8        3.0