In [2]:
library(dplyr)
library(tibble)

# Missing values

In [8]:
PATH <- "https://raw.githubusercontent.com/guru99-edu/R-Programming/master/test.csv"
df_titanic <- read.csv(PATH, sep = ",")

# Return the column names containing missing observations
list_na <- colnames(df_titanic)[ apply(df_titanic, 2, anyNA) ]
list_na

[1] "Age"  "Fare"

## Omite

In [18]:
# Exclude the missing observations
df_titanic_drop <-df_titanic %>%
na.omit()
dim(df_titanic_drop)

[1] 331  11

## mutate

In [5]:
apply(df_titanic, 2, anyNA)

PassengerId      Pclass        Name         Sex         Age       SibSp
      FALSE       FALSE       FALSE       FALSE        TRUE       FALSE
      Parch      Ticket        Fare       Cabin    Embarked
      FALSE       FALSE        TRUE       FALSE       FALSE

In [6]:
# Create mean
average_missing <- apply(df_titanic[,colnames(df_titanic) %in% list_na],
      2,
      mean,
      na.rm =  TRUE)
average_missing

     Age     Fare
30.27259 35.62719

In [9]:
colnames(df_titanic)

 [1] "PassengerId" "Pclass"      "Name"        "Sex"         "Age"
 [6] "SibSp"       "Parch"       "Ticket"      "Fare"        "Cabin"
[11] "Embarked"

In [11]:
# Create a new variable with the mean and median
df_titanic_replace <- df_titanic %>%
   mutate(replace_mean_age  = ifelse(is.na(Age), average_missing[1], Age),
   replace_mean_fare = ifelse(is.na(Fare), average_missing[2], Fare))

In [12]:
df_titanic_replace

    PassengerId Pclass
1   892         3
2   893         3
3   894         2
4   895         3
5   896         3
6   897         3
7   898         3
8   899         2
9   900         3
10  901         3
11  902         3
12  903         1
13  904         1
14  905         2
15  906         1
16  907         2
17  908         2
18  909         3
19  910         3
20  911         3
21  912         1
22  913         3
23  914         1
24  915         1
25  916         1
26  917         3
27  918         1
28  919         3
29  920         1
30  921         3
⋮   ⋮           ⋮
389 1280        3
390 1281        3
391 1282        1
392 1283        1
393 1284        3
394 1285        2
395 1286        3
396 1287        1
397 1288        3
398 1289        1
399 1290        3
400 1291        3
401 1292        1
402 1293        2
403 1294        1
404 1295        1
405 1296        1
406 1297        2
407 1298        2
408 1299        1
409 1300        3
410 1301        3
411 1302        3
412 1303        1
413 1304        3
414 1305        3
415 1306        1
416 1307        3
417 1308        3
418 1309        3
    Name                                                            Sex    Age
1   Kelly, Mr. James                                                male   34.5
2   Wilkes, Mrs. James (Ellen Needs)                                female 47.0
3   Myles, Mr. Thomas Francis                                       male   62.0
4   Wirz, Mr. Albert                                                male   27.0
5   Hirvonen, Mrs. Alexander (Helga E Lindqvist)                    female 22.0
6   Svensson, Mr. Johan Cervin                                      male   14.0
7   Connolly, Miss. Kate                                            female 30.0
8   Caldwell, Mr. Albert Francis                                    male   26.0
9   Abrahim, Mrs. Joseph (Sophie Halaut Easu)                       female 18.0
10  Davies, Mr. John Samuel                                         male   21.0
11  Ilieff, Mr. Ylio                                                male     NA
12  Jones, Mr. Charles Cresson                                      male   46.0
13  Snyder, Mrs. John Pillsbury (Nelle Stevenson)                   female 23.0
14  Howard, Mr. Benjamin                                            male   63.0
15  Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)         female 47.0
16  del Carlo, Mrs. Sebastiano (Argenia Genovesi)                   female 24.0
17  Keane, Mr. Daniel                                               male   35.0
18  Assaf, Mr. Gerios                                               male   21.0
19  Ilmakangas, Miss. Ida Livija                                    female 27.0
20  Assaf Khalil, Mrs. Mariana (Miriam")"                           female 45.0
21  Rothschild, Mr. Martin                                          male   55.0
22  Olsen, Master. Artur Karl                                       male    9.0
23  Flegenheim, Mrs. Alfred (Antoinette)                            female   NA
24  Williams, Mr. Richard Norris II                                 male   21.0
25  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)                 female 48.0
26  Robins, Mr. Alexander A                                         male   50.0
27  Ostby, Miss. Helene Ragnhild                                    female 22.0
28  Daher, Mr. Shedid                                               male   22.5
29  Brady, Mr. John Bertram                                         male   41.0
30  Samaan, Mr. Elias                                               male     NA
⋮   ⋮                                                               ⋮      ⋮
389 Canavan, Mr. Patrick                                            male   21.0
390 Palsson, Master. Paul Folke                                     male    6.0
391 Payne, Mr. Vivian Ponsonby                                      male   23.0
392 Lines, Mrs. Ernest H (Elizabeth Lindsey James)                  female 51.0
393 Abbott, Master. Eugene Joseph                                   male   13.0
394 Gilbert, Mr. William                                            male   47.0
395 Kink-Heilmann, Mr. Anton                                        male   29.0
396 Smith, Mrs. Lucien Philip (Mary Eloise Hughes)                  female 18.0
397 Colbert, Mr. Patrick                                            male   24.0
398 Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli) female 48.0
399 Larsson-Rondberg, Mr. Edvard A                                  male   22.0
400 Conlon, Mr. Thomas Henry                                        male   31.0
401 Bonnell, Miss. Caroline                                         female 30.0
402 Gale, Mr. Harry                                                 male   38.0
403 Gibson, Miss. Dorothy Winifred                                  female 22.0
404 Carrau, Mr. Jose Pedro                                          male   17.0
405 Frauenthal, Mr. Isaac Gerald                                    male   43.0
406 Nourney, Mr. Alfred (Baron von Drachstedt")"                    male   20.0
407 Ware, Mr. William Jeffery                                       male   23.0
408 Widener, Mr. George Dunton                                      male   50.0
409 Riordan, Miss. Johanna Hannah""                                 female   NA
410 Peacock, Miss. Treasteall                                       female  3.0
411 Naughton, Miss. Hannah                                          female   NA
412 Minahan, Mrs. William Edward (Lillian E Thorpe)                 female 37.0
413 Henriksson, Miss. Jenny Lovisa                                  female 28.0
414 Spector, Mr. Woolf                                              male     NA
415 Oliva y Ocana, Dona. Fermina                                    female 39.0
416 Saether, Mr. Simon Sivertsen                                    male   38.5
417 Ware, Mr. Frederick                                             male     NA
418 Peter, Master. Michael J                                        male     NA
    SibSp Parch Ticket             Fare     Cabin           Embarked
1   0     0     330911               7.8292                 Q
2   1     0     363272               7.0000                 S
3   0     0     240276               9.6875                 Q
4   0     0     315154               8.6625                 S
5   1     1     3101298             12.2875                 S
6   0     0     7538                 9.2250                 S
7   0     0     330972               7.6292                 Q
8   1     1     248738              29.0000                 S
9   0     0     2657                 7.2292                 C
10  2     0     A/4 48871           24.1500                 S
11  0     0     349220               7.8958                 S
12  0     0     694                 26.0000                 S
13  1     0     21228               82.2667 B45             S
14  1     0     24065               26.0000                 S
15  1     0     W.E.P. 5734         61.1750 E31             S
16  1     0     SC/PARIS 2167       27.7208                 C
17  0     0     233734              12.3500                 Q
18  0     0     2692                 7.2250                 C
19  1     0     STON/O2. 3101270     7.9250                 S
20  0     0     2696                 7.2250                 C
21  1     0     PC 17603            59.4000                 C
22  0     1     C 17368              3.1708                 S
23  0     0     PC 17598            31.6833                 S
24  0     1     PC 17597            61.3792                 C
25  1     3     PC 17608           262.3750 B57 B59 B63 B66 C
26  1     0     A/5. 3337           14.5000                 S
27  0     1     113509              61.9792 B36             C
28  0     0     2698                 7.2250                 C
29  0     0     113054              30.5000 A21             S
30  2     0     2662                21.6792                 C
⋮   ⋮     ⋮     ⋮                  ⋮        ⋮               ⋮
389 0     0     364858               7.7500                 Q
390 3     1     349909              21.0750                 S
391 0     0     12749               93.5000 B24             S
392 0     1     PC 17592            39.4000 D28             S
393 0     2     C.A. 2673           20.2500                 S
394 0     0     C.A. 30769          10.5000                 S
395 3     1     315153              22.0250                 S
396 1     0     13695               60.0000 C31             S
397 0     0     371109               7.2500                 Q
398 1     1     13567               79.2000 B41             C
399 0     0     347065               7.7750                 S
400 0     0     21332                7.7333                 Q
401 0     0     36928              164.8667 C7              S
402 1     0     28664               21.0000                 S
403 0     1     112378              59.4000                 C
404 0     0     113059              47.1000                 S
405 1     0     17765               27.7208 D40             C
406 0     0     SC/PARIS 2166       13.8625 D38             C
407 1     0     28666               10.5000                 S
408 1     1     113503             211.5000 C80             C
409 0     0     334915               7.7208                 Q
410 1     1     SOTON/O.Q. 3101315  13.7750                 S
411 0     0     365237               7.7500                 Q
412 1     0     19928               90.0000 C78             Q
413 0     0     347086               7.7750                 S
414 0     0     A.5. 3236            8.0500                 S
415 0     0     PC 17758           108.9000 C105            C
416 0     0     SOTON/O.Q. 3101262   7.2500                 S
417 0     0     359309               8.0500                 S
418 1     1     2668                22.3583                 C
    replace_mean_age replace_mean_fare
1   34.50000           7.8292
2   47.00000           7.0000
3   62.00000           9.6875
4   27.00000           8.6625
5   22.00000          12.2875
6   14.00000           9.2250
7   30.00000           7.6292
8   26.00000          29.0000
9   18.00000           7.2292
10  21.00000          24.1500
11  30.27259           7.8958
12  46.00000          26.0000
13  23.00000          82.2667
14  63.00000          26.0000
15  47.00000          61.1750
16  24.00000          27.7208
17  35.00000          12.3500
18  21.00000           7.2250
19  27.00000           7.9250
20  45.00000           7.2250
21  55.00000          59.4000
22   9.00000           3.1708
23  30.27259          31.6833
24  21.00000          61.3792
25  48.00000         262.3750
26  50.00000          14.5000
27  22.00000          61.9792
28  22.50000           7.2250
29  41.00000          30.5000
30  30.27259          21.6792
⋮   ⋮                ⋮
389 21.00000           7.7500
390  6.00000          21.0750
391 23.00000          93.5000
392 51.00000          39.4000
393 13.00000          20.2500
394 47.00000          10.5000
395 29.00000          22.0250
396 18.00000          60.0000
397 24.00000           7.2500
398 48.00000          79.2000
399 22.00000           7.7750
400 31.00000           7.7333
401 30.00000         164.8667
402 38.00000          21.0000
403 22.00000          59.4000
404 17.00000          47.1000
405 43.00000          27.7208
406 20.00000          13.8625
407 23.00000          10.5000
408 50.00000         211.5000
409 30.27259           7.7208
410  3.00000          13.7750
411 30.27259           7.7500
412 37.00000          90.0000
413 28.00000           7.7750
414 30.27259           8.0500
415 39.00000         108.9000
416 38.50000           7.2500
417 30.27259           8.0500
418 30.27259          22.3583

In [14]:
apply(df_titanic_replace, 2, anyNA)

      PassengerId            Pclass              Name               Sex
            FALSE             FALSE             FALSE             FALSE
              Age             SibSp             Parch            Ticket
             TRUE             FALSE             FALSE             FALSE
             Fare             Cabin          Embarked  replace_mean_age
             TRUE             FALSE             FALSE             FALSE
replace_mean_fare
            FALSE

In [21]:
# Quick code to replace missing values with the mean
df_titanic_impute_mean <- data.frame(
    sapply(
        df_titanic,
        function(x) ifelse(is.na(x),
            mean(x, na.rm = TRUE),
            x)))

# Correlations

In [23]:
PATH <-"https://raw.githubusercontent.com/guru99-edu/R-Programming/master/british_household.csv"
data <-read.csv(PATH)
  filter(income < 500)
  mutate(log_income = log(income),
         log_totexp = log(totexp),
         children_fac = factor(children, order = TRUE, labels = c("No", "Yes")))
  select(-c(X,X.1, children, totexp, income))
glimpse(data)

ERROR: Error in filter(income < 500): object 'income' not found